<div class="banner">
    <h1>Poker Night</h1>
</div>
<div class="container padded">
    <div class="center-block"><h1><strong>Welcome to Poker Night!</strong></h1></div>
    <p>This site helps track the buy ins and cash outs for poker night. To start, please go to <a routerLink="/games">Games</a> and add yourself to tonight's game. If you do not see yourself, please let Michael know.</p>
    <p>The buy in is how many chips you start off with and cash out is how many chips you have at the end of the night. At any time, you may buy more chips up to the inital buy in. The "Buy Up" button can help you do this.</p>
    <p>Your profit will show how much Michael needs to pay you or how much you owe Michael.</p>
    <br />
    <div class="center-block"><h1 class="large">Poker Hands</h1></div>
    <img src="/assets/images/poker_hands.png" class="center-image" />
</div>
