//@import 'themes/theme.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import './assets/bootstrap.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
    &.padded {
        padding: 20px;
    }
}

div.mat-list-item-content {
    padding: 0 !important;
}

div.mat-list-item-content .container{
    padding: 0 !important;
}

.no-side-padding {
    padding: 0 !important;
}

