<h1 mat-dialog-title>Add Player</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Player</mat-label>
        <mat-select [(value)]="selectedPlayer">
            <mat-option *ngFor="let player of players" [value]="player">
                {{player.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button color="primary" (click)="addPlayer()" cdkFocusInitial>Add</button>
</div>