<div class="container center padded">
    <mat-nav-list>
        <h2>
            <div *ngIf="user?.isAdmin" style="float: right"><button mat-raised-button color="accent" (click)="openNewGameDialog()">+ New Game</button></div>
            Games
        </h2>

        <div class="loader" *ngIf="loading">
            <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
        </div>

        <ng-container *ngIf="loaded">
            <ng-container *ngFor="let game of games">
                <span style="float: right; margin-top: 30px;" *ngIf="user?.isAdmin && !game.closed && (game.players?.length || 0) == 0" (click)="deleteGame(game)">
                    <button mat-icon-button><mat-icon>delete</mat-icon></button>
                </span>
                <mat-list-item [routerLink]="['/games', game._id]" class="list-item" style="height: inherit !important;">
                    <div class="container" style="width: 100%; margin-top: 30px;">
                        <div class="row">
                            <div class="col-sm-1 col-xs-2" style="width: 95px;">
                                <mat-icon>open_in_new</mat-icon>
                                <mat-icon *ngIf="game.closed" style="padding-left: 10px;">lock</mat-icon>
                            </div>
                            <div class="col-xs-2 hidden-xs">
                                <strong>{{ game.date | date:'longDate':'UTC' }}</strong>
                            </div>
                            <div class="col-xs-8 no-side-padding">
                                <div class="row">
                                    <div class="col-sm-4 col-xs-12 visible-xs">
                                        <strong>{{ game.date | date:'longDate':'UTC' }}</strong>
                                    </div>
                                    <div class="col-xs-4">
                                        <span>{{ game.players?.length || 0 }} Players</span>
                                    </div>
                                    <div class="col-xs-4">
                                        <span >{{ game.buyIn | currency: 'USD' }} Buy In</span>
                                    </div>
                                    <div class="col-xs-4 hidden-xs">&nbsp;</div>
                                    <div class="col-xs-4">
                                        <span>{{ game.buyInTotal() | currency: 'USD' }} Bought In</span>
                                    </div>
                                    <div class="col-xs-4">
                                        <span>{{ game.cashOutTotal() | currency: 'USD' }} Cashed Out</span>
                                    </div>
                                    <div class="col-xs-4">
                                        <span>{{ game.cashedOutCount() }}/{{ game.players?.length }} Players Cashed Out</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
            </ng-container>
        </ng-container>
    </mat-nav-list>
</div>